/* General */
/* purple shade: #5B48A2 */
/* blue shade: #36629B */
body {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  padding: 7% 15%;
  text-align: center;
}

.subtitle {
  padding-top: 4%;
  padding-bottom: 8%;
}

/* Section */
.colored-section {
  background-color: #5B48A2;
  color: #fff;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Header */
#header .container-fluid {
  text-align: left;
}

.navbar-brand {
  font-family: 'Changa', sans-serif;
  font-size: 3.5rem;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

.title-heading {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10%;
}

.title-image {
  height: 622px;
  transform: rotate(15deg);
  position: absolute;
  right: 3%;
}

/* Feature Section */
#features i {
  color: #36629B;
  font-size: 5rem;
  padding-bottom: 10%;
}

/* Testimonials */
#testimonials .testimonial-heading {
  font-size: 2.5rem;
}

.testimonial-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Partners Section */
#partners {
  padding: 3% 15% 7%;
  text-align: center;
}

.partners-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.partners-logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Pricing */
.card-header {
  color: #fff;
}

.standard-pricing {
  background-color: #36629B;
}

.premium-pricing {
  background-color: #5B48A2;
}

.card-header .card-heading {
  font-weight: 700;
  margin-bottom: 0;
}

.card-body button {
  color: white;
  font-weight: 700;
  padding: 3%;
}

.card-body .btn-standard {
  background-color: #36629B;
  border-color: #36629B;
}

.card-body .btn-premium {
  background-color: #5B48A2;
  border-color: #5B48A2;
}

/* CTA */
#cta {
  background-image: url("../images/gades-photography-540989-unsplash.png");
  background-size: cover;
  background-position: center;
}

#cta .container-fluid {
  background-color: #5B48A2;
  background-color: rgba(91, 72, 162, 0.5);
}

.cta-heading {
  font-weight: 700;
  text-shadow: 1px 2px 3px #5B48A2;
}

/* Footer */
#footer .container-fluid {
  padding: 1%;
}

.social-icon {
  color: #36629B;
  font-size: 1.5rem;
  padding: 1% 1% 2%;
}

#footer p {
  font-family: 'Changa', sans-serif;
  font-size: 1rem;
}

/* Viewport - Media Queries */
@media (max-width: 1028px) {
  #header .container-fluid {
    text-align: center;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .title-image {
    margin: 10% auto;
    position: static;
    transform: rotate(0);
  }

  .partners-logo {
    padding-bottom: 10%;
  }

  .card {
    margin-bottom: 10%;
  }
}

@media (max-width: 570px) {
  .title-image {
    height: 400px;
  }
}
