/* General */
/* purple shade: #5B48A2 */
/* blue shade: #36629B */
body {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  padding: 7% 15%;
  text-align: center;
}

/* Section */
.colored-section {
  background-color: #5B48A2;
  color: #fff;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Header */

#header h1, #header .btn{
  text-align: left;
}

.navbar-brand {
  font-family: 'Changa', sans-serif;
  font-size: 3.5rem;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

.title-heading {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10%;
}

.title-image {
  height: 622px;
    transform: rotate(15deg);
    position: absolute;
    right: 3%;
}


/* Feature Section */

#features p {
  padding-top: 4%;
  padding-bottom: 8%;
}

#features i {
  color: #36629B;
}



/* Testimonials */

#testimonials h2 {
  font-size: 2.5rem;
}

.testimonial-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Partners Section */
#partners {
  text-align: center;
  padding: 3% 15%;
}

.partners-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.partners-logo:hover {
  text-decoration: none;
  color: #fff;
}


/* CTA */
#cta {
  background-image: url("../images/gades-photography-540989-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#cta .container-fluid {
  background-color: rgba(91, 72, 162, 0.5);
}
